.logo {
    font-family: "Volkhov-Regular";
    color: #484848 !important;
    font-size: 52px;
}

/* ul{
    gap: 58px;
} */

.navbar-nav .nav-link.active {
    font-size: 16px;
    color: #484848;
    font-family: "Poppins-Regular";
}

/* .navbar-expand-lg {
    margin-top: 70px;
} */


.navbar-collapse {
    flex-grow: 0;
}

.nav-item {
    padding-right: 58px;
}

.navbar-signup {
    font-family: "Poppins-Regular";
    font-size: 16px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 20px 46px;
    box-shadow: 0px 20px 35px 0px #00000026;
    /* padding-bottom: 20px; */
}


.navbar-nav .nav-link,
#dropdown-basic {
    position: relative;
    font-size: 16px;
    color: #484848 !important;
    font-family: "Poppins-Regular";
    text-decoration: none;
}


.navbar-nav .nav-link::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: -5px;
    background-color: black;
    transition: width 0.3s ease-in-out;
}



.navbar-nav .nav-link:hover::after {
    width: 100%;
}


.nav-icon {
    display: flex;
    gap: 25px;
}

.icon {
    cursor: pointer;
}

.icon {
    cursor: pointer;
    position: relative;
}

.cart-badge {
    position: absolute;
    top: -6px;
    right: -14px;
    background-color: red;
    color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 12px;
    font-family: "Poppins-Regular";
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #fff;
}




/*-------------------------------------------------- mobile screen ---------------------------------------------------- */

@media only screen and (max-width: 426px) {

    .logo {
        font-family: "Volkhov-Regular";
        color: #484848 !important;
        font-size: 18px;
    }
}