.arrivals-title {
    font-family: "Volkhov-Regular";
    font-size: 46px;
    color: #484848;
    display: flex;
    justify-content: center;
}

.arrivals-description {
    width: 604px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    font-size: 16px;
    font-family: "Poppins-Regular";
    color: #8A8A8A;
    padding-top: 20px;
}

.category-nav {
    display: flex;
    gap: 15px;
    padding-top: 50px;
    align-items: center;
}

.category-name {
    font-size: 16px;
    width: 207px;
    background-color: #FAFAFA;
    color: #8A8A8A;
    border: none;
    padding: 20px 33px;
    border-radius: 10px;
    transition: transform 250ms;
}

.category-name:hover {
    background-color: black;
    color: white;
    /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); */
    /* transition-delay: 0.1s; */
    transform: translateY(-10px);
}

.product-menu {
    margin-top: 50px;
    /* border: none; */
    width: 386px;
    height: 438px;
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 36px;
    box-shadow: 0px 40px 90px 0px #0000000F;
}


.product-title {
    font-family: "Poppins-Medium";
    font-size: 20px;
    color: #484848;
}

.product-subtitle {
    font-size: 12px;
    font-family: "Poppins-Medium";
    color: #8A8A8A;
}

.product-details {
    padding-top: 12px;
}

.product-rating {
    display: flex;
    justify-content: end;
}

.cust-review {
    font-family: "Poppins-Medium";
    color: #484848;
    font-size: 12px;
    padding-top: 25px;
}

.product-price-info {
    padding-top: 25px;

}

.product-price {
    color: #484848;
    font-size: 24px;
    font-family: "Poppins-Medium";
    letter-spacing: -1px;
}


.sold-out {

    color: #FF4646;
    font-size: 12px;
    font-family: "Poppins-Regular";
    letter-spacing: -1px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}



.more-product {
    display: flex;
    margin: 0 auto;
    border: 2px solid black;
    background-color: #000000;
    font-family: "Poppins-Regular";
    justify-content: center;
    font-size: 16px;
    color: white;
    border-radius: 10px;
    padding: 20px 60px;
    margin-top: 50px;
    box-shadow: 0px 20px 35px 0px #00000026;

}

/* -------------------- Default Styles (Desktop) -------------------- */

.arrivals-title {
    font-family: "Volkhov-Regular";
    font-size: 46px;
    color: #484848;
    text-align: center;
}

.arrivals-description {
    width: 604px;
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
    font-family: "Poppins-Regular";
    color: #8A8A8A;
    padding-top: 20px;
}

.category-nav {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding-top: 50px;
    justify-content: center;
}

.category-name {
    font-size: 16px;
    min-width: 180px;
    background-color: #FAFAFA;
    color: #8A8A8A;
    border: none;
    padding: 15px 25px;
    border-radius: 10px;
    transition: 0.25s;
}

.category-name:hover {
    background-color: black;
    color: white;
    transform: translateY(-10px);
}

/* -------------------- Mobile Screen  -------------------- */

@media only screen and (max-width: 426px) {

    .arrivals-title {
        font-size: 32px;
        text-align: center;
    }

    .arrivals-description {
        width: 100%;
        padding: 0 10px;
        font-size: 13px;
    }

    .category-nav {
        margin-top: 25px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
        padding: 0 10px;
    }

    .category-name {
        flex: 1 1 calc(50% - 10px);  
        padding: 12px;
        font-size: 14px;
        text-align: center;
        border-radius: 8px;
    }


    .product-menu {
        width: 100%;
        height: auto;
        padding: 15px;
        margin: 10px 0;
    }

    .product-title {
        font-size: 16px;
    }

    .cust-review {
        font-size: 11px;
    }

    .product-price {
        font-size: 18px;
    }

    .sold-out {
        font-size: 11px;
    }

    .more-product {
        padding: 15px 40px;
        font-size: 14px;
        margin-top: 25px;
    }
}