.SignUp-page {
    padding: 126px 140px;
}

.signUp-details {
    border: 1px solid #DBDBDB;
}

.signUp-part {
    padding-top: 10px;
}

.signUp-content {
    padding-left: 57px;
    padding-top: 43px;
    padding-right: 57px;
}

.msg-link {
    font-family: "Poppins-Regular";
    font-size: 16px;
    line-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.msg-link a {
    text-decoration: none;
    font-family: "Poppins-Regular";
    font-size: 16px;
    padding-left: 5px;
}

.fasco-terms {
    font-family: "Poppins-Regular";
    font-size: 16px;
    line-height: 40px;
    display: flex;
    justify-content: end;
}