.signIn-page {
    padding: 126px 140px;
}

.signIn-details {
    border: 1px solid #DBDBDB;
    border-radius: 30px;
}

.logos {
    font-family: "Volkhov-Regular";
    color: #484848 !important;
    font-size: 52px;
}

.signIn-content {
    padding-left: 57px;
    padding-top: 43px;
    padding-right: 57px;
}

.signIn-part {
    padding-top: 40px;
}

.signIn-title {
    margin-bottom: 29px;
    font-family: "Volkhov-Regular";
    font-size: 30px;
    line-height: 40px;
    color: #000000;
}

.google-signUp,
.mails-singUp {
    border: 1px solid #5B86E5;
    border-radius: 8px;
    padding: 10px 14px;
    transition: 0.3s ease;
    cursor: pointer;
}

.google,
.mails {
    font-size: 16px;
    padding-left: 13px;
}

.mail-img {
    height: 36px;
}

.google-signUp:hover,
.mails-singUp:hover {
    background-color: #5b86e5;
}

.google-signUp:hover .google,
.mails-singUp:hover .mails {
    color: #fff;
}

.second-option {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
}

.line {
    width: 40px;
    height: 5px;
    background-color: #838383;
}

.or {
    font-family: "Poppins-Bold";
    font-size: 30px;
    line-height: 40px;
    color: #838383;
}

.signIn-form {
    margin-top: 30px;
}

.form-group {
    margin-bottom: 15px;
}

.email-input {
    border-top: none;
    border-left: none;
    border-right: none;
}

.form-control {
    all: unset;
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding: 8px 0;
}

.btn_sign-in,
.btn_acc_create {
    margin: 0 auto;
    border: none;
    width: 410px;
    color: #FFFFFF;
    font-family: "Poppins-SemiBold";
    background-color: #000000;
    display: flex;
    font-size: 16px;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
}

.btn_register {
    margin: 0 auto;
    border: 1px solid #5B86E5;
    width: 410px;
    margin-top: 10px;
    font-family: "Poppins-SemiBold";
    color: #5B86E5;
    background-color: #FFFFFF;
    display: flex;
    font-size: 16px;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
}

.forget_pass {
    display: flex;
    justify-content: flex-end;
    font-family: "Poppins-Bold";
    color: #5B86E5;
    font-size: 16px;
    width: 450px;
    margin-top: 10px;
    cursor: pointer;
}