.shopping_title {
    font-family: "Volkhov-Regular";
    font-size: 38px;
    line-height: 32px;
    margin-top: 78px;
    color: #000000;
}

.page-change {
    font-family: "Jost-Regular";
    font-size: 15px;
    line-height: 23px;
    color: #000000;
}

.page-show h4 {
    margin-bottom: 0px;
}

.page-show {
    margin-top: 20px;
}

.table>:not(caption)>*>* {
    padding: 35px 00 35px 0;
}

.productview_price {
    font-family: "Volkhov-Regular";
    font-size: 22px;
    line-height: 32px;
    color: #000000;
}



.product_name {
    width: 176px;
    font-family: "Volkhov-Regular";
    color: #000000;
    font-size: 22px;
}

.card-views {
    margin-left: 12px;
}

.color,
.card-views a {
    margin-top: 14px;
    font-family: "Poppins-Regular";
    color: #8A8A8A;
}


.product-checkout {
    /* border: 1px solid red; */
    width: 411px;
    margin-left: auto;

}

#myCheckbox {
    height: 40px;
    width: 18px;
}

.product-wrap {
    font-family: "Poppins-Regular";
    font-size: 22px;
    line-height: 42px;
    color: #8A8A8A;
}

.price-product {
    font-weight: bold;
    font-family: "Poppins-Regular";
    font-size: 22px;
    line-height: 42px;
    color: #000000;
}

.subtotal,
.subtotal-price {
    font-family: "Volkhov-Regular";
    font-size: 22px;
    line-height: 32px;
    color: #000000;
}

.btn-Checkout {
    margin-top: 29px;
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: #000000;
    color: #FFFFFF;
    box-shadow: 0px 20px 35px 0px #00000026;
}



.view-prices a {
    font-family: "Poppins-Regular";
    color: #000000;
}

/* ---------- tablet (Below 768px) ---------- */
@media (max-width: 768px) {

    .shopping_title {
        font-size: 30px;
        margin-top: 40px;
    }

    .table thead {
        display: none;
    }

    .table tbody tr {
        display: block;
        margin-bottom: 20px;
        background: #fff;
        padding: 15px;
        border-radius: 12px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
    }

    .product-info {
        display: flex;
        align-items: center;
    }

    .product-info img {
        width: 80px;
    }

    .product_name {
        width: 100%;
        font-size: 18px;
    }

    .product-checkout {
        width: 100%;
        margin-top: 30px;
    }

    .product-wrap,
    .price-product {
        font-size: 18px;
    }

    .subtotal,
    .subtotal-price {
        font-size: 20px;
    }
}

/* ----------  Mobile screen  ---------- */
@media (max-width: 426px) {

    .shopping_title {
        font-size: 26px;
    }

    .product-info img {
        width: 65px;
    }

    .product_name {
        font-size: 16px;
    }

    .product-checkout {
        padding: 10px;
    }

    .btn-Checkout {
        padding: 8px;
        font-size: 15px;
    }
}