@font-face {
    font-family: "DigitalNumbers-Regular";
    src: url(../digital-numbers/DigitalNumbers-Regular.ttf);
}



.deal-wrapper {
    margin-left: 100px;
}


.deal-title {
    font-family: "Volkhov-Regular";
    font-size: 46px;
    color: #484848;
}

.deal-subtitle {
    margin-top: 20px;
    font-family: "Poppins-Regular";
    color: #8A8A8A;
    width: 436px;
    font-size: 16px;
}


.buy-btn {
    border: none;
    background-color: #000000;
    font-family: "Poppins-Medium";
    font-size: 16px;
    color: white;
    border-radius: 10px;
    padding: 20px 60px;
    margin-top: 40px;
    box-shadow: 0px 20px 35px 0px #00000026;

}

.promo-banner {
    margin-top: 50px;
    font-family: "Poppins-Medium";
    color: #484848;
    font-size: 28px;
}

/* timer */

.countdown-container {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-top: 15px;
    font-family: "Courier New", Courier, monospace;
}

.countdown-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.countdown-box {
    font-family: "DigitalNumbers-Regular";
    background: #fff;
    padding: 20px 15px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 76px;
    height: 76px;
    text-align: center;
    font-size: 28px;
    color: #333;
}

.countdown-label {
    font-family: "Poppins-Regular";
    margin-top: 8px;
    font-size: 24px;
    color: #666;
}

/*  */
.slider-icon {
    left: -150px;
}

.slider-btn {
    border: none;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 14px 1px #00000029;
    width: 48px;
    height: 48px;
    padding: 10px 20px;
    border-radius: 50%;
    cursor: pointer;
}



.deals-section .slick-active.slick-current img {
    height: 400px;
}

.slider-container .slick-slide {
    padding: 0 10px;

}

.slider-container .slick-list {
    margin: 0 10px;
}


.slick-prev:before,
.slick-next:before {
    font-size: 30px !important;
    color: black !important;
}

.sale-offer {
    background-color: #FFFFFF;
    border: none;
    padding: 32px 26px;
    width: 217px;
    height: 130px;
    backdrop-filter: blur(7px);
    right: -32px;
    position: relative;
    top: -155px;
}

.spring-sale {
    font-family: "Poppins-Regular";
    font-size: 16px;
    color: #484848;
}

.discount-off {
    font-family: "Poppins-Regular";
    font-size: 28px;
    color: #484848;
}

/* mobile screen start */
@media only screen and (max-width: 426px) {

    .deal-wrapper {
        margin-left: 10px;
        margin-right: 10px;
    }

    .deal-title {
        font-size: 36px;
    }

    .deal-subtitle {
        margin-top: 10px;
        font-size: 14px;
        width: auto;
        text-align: center;
    }

    .buy-btn {
        margin: 0 auto;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .promo-banner {
        margin-top: 20px;
        text-align: center;
    }

    .countdown-container {
        margin: 0 auto;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .slider-container {
        margin-top: 20px;

    }

    .deals-section .slick-active.slick-current img {
        height: 200px;


    }

    .slider-icon {
        margin-top: 20px;
        left: 0px;
        width: 100%;
        justify-content: center;
    }

    .sale-offer {
        padding: 10px;
        width: 109px;
        height: 59px;
        right: -22px;
        top: -60px;
    }

    .spring-sale {
        font-family: "Poppins-Regular";
        font-size: 10px;
        color: #484848;
    }


    .discount-off {
        font-family: "Poppins-Regular";
        font-size: 21px;
        color: #484848;
    }

}

/* mobile screen end */

/* ------------------------- TABLET (427px to 1024px) ------------------------- */

@media only screen and (min-width: 427px) and (max-width: 1024px) {

    .deal-wrapper {
        margin-left: 30px;
        margin-right: 30px;
    }

    .deal-title {
        font-size: 40px;
    }

    .deal-subtitle {
        margin-top: 15px;
        width: 100%;
        font-size: 15px;
    }

    .buy-btn {
        padding: 18px 50px;
        margin-top: 30px;
    }

    .promo-banner {
        margin-top: 35px;
        font-size: 24px;
    }

    .countdown-container {
        gap: 15px;
        margin-top: 20px;
    }

    .countdown-box {
        width: 65px;
        height: 65px;
        font-size: 22px;
        padding: 18px;
    }

    .countdown-label {
        font-size: 18px;
    }

    .slider-container {
        margin-top: 30px;
    }

    .slider-container .slick-active.slick-current img {
        height: 300px;
    }

    .slider-btn {
        width: 45px;
        height: 45px;
    }

    .slider-icon {
        left: -60px;
        margin-top: 20px;
    }

    .sale-offer {
        width: 160px;
        height: 95px;
        padding: 20px;
        top: -120px;
        right: -20px;
    }

    .discount-off {
        font-size: 24px;
    }
}